#Endorsement-label {
    color: black;
}

/* save button */
#endorsement-save-btn {
    background-color: #3a9eea;
    color: white;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    max-width: 120px;
}

#endorsement-save-btn:hover {
    background-color: #317dc4;
    color: white;
}

#endorsement-refno-input {
    color: black;
    background-color: rgb(221, 220, 220);
    font-style: italic;
}

QLabel {
    font-weight: 600;
    font-size: 14px;
    color: #333;
}

/* endorsement form */
QWidget#EndorsementForm {
    background-color: #f5f7fa;
    border-radius: 10px;
    padding: 20px;
}

QLineEdit, 
QDateEdit, 
QComboBox {
    background-color: white;
    color: black;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

QLineEdit:focus, 
QDateEdit:focus, 
QComboBox:focus
{
    border: 2px solid #3a9eea;  /* Same blue as your button */
    background-color: white;
    selection-background-color: #3a9eea; 
    selection-color: white;
}

QDoubleSpinBox {
    background-color: white;
    color: black;
}

/* combobox dropdown display */
QComboBox QAbstractItemView {
    background-color: white;
    color: black;
    selection-background-color: #e6f2ff; 
    border: 1px solid #ccc;
    font-size: 14px;
}

QDoubleSpinBox {
    background-color: white;
    color: black;
    padding: 6px;
    font-size: 14px;
}


/* this is for the calendar widget */
QDateEdit#endorsement-date-endorsed-input QCalendarWidget QToolButton {
    color: white;
    font-weight: bold;
    background-color: #3a9eea;
    padding: 4px;
}

QDateEdit#endorsement-date-endorsed-input QWidget {
    alternate-background-color: #B8E2FF;
}

QDateEdit#endorsement-date-endorsed-input QCalendarWidget #qt_calendar_navigationbar {
    background-color: #3a9eea;
}

QDateEdit#endorsement-date-endorsed-input QHeaderView::section {
    background-color: white;
}

QDateEdit#endorsement-date-endorsed-input QCalendarWidget QAbstractItemView:enabled {
    color: black;
    background-color: white;
    selection-background-color: #3a9eea;
    selection-color: white;
}
